raw_data/*
__pycache__/
app/__pycache__/
*.pyc
.env
*.pkl
*.joblib
ml/outputs/
!ml/outputs/.gitkeep
/notebooks/
/models/

# Frontend
front/.next/
front/node_modules/
front/.env.local
front/.pnp/
front/.pnp.js

# IDE
.idea/
.ai/
