raw_data/*
__pycache__/
back/app/__pycache__/
*.pyc
back/.env
*.pkl
*.joblib
back/ml/outputs/
!back/ml/outputs/.gitkeep
/notebooks/
/models/

# Frontend
front/.next/
front/node_modules/
front/.env.local
front/.pnp/
front/.pnp.js

# IDE
.idea/
.ai/
/back/notebooks/
/back/models/
